= form_with(model: @groups, url: add_members_path(@groups), local: true) do |form|
  - if @groups.errors.any?
    - @groups.errors.full_messages.each do |msg|
      %li= msg
  = form_for (:users) do |user_form|
    %p
      = user_form.label :email
      %br/
      = user_form.text_field :email
    %p
      = user_form.submit
      
= link_to 'Back', group_path(@groups)
