.topnav
  <img src="https://img.icons8.com/cotton/50/000000/money-transfer.png" alt="money logo" class="images"/>
  DinDiv
  = link_to 'Back', groups_path
%div#body

  %div#pageTitle Edit group
  = form_with(model: @groups, local: true) do |form|
    %p#formLabels
      = form.label :group_name
      %br/
      = form.text_field :group_name, class: "textBox"
    %p#formLabels
      = form.label :group_description
      %br/
      = form.text_area :group_description, class: "textBox"
    %p#formLabels
      = form.submit
