%div#body
  .topnav
    DinDiv
    = link_to 'Back', groups_path
  %div#pageTitle Edit group
  = form_with(model: @groups, local: true) do |form|
    %p#formLabels
      = form.label :group_name
      %br/
      = form.text_field :group_name
    %p#formLabels
      = form.label :group_description
      %br/
      = form.text_area :group_description
    %p#formLabels
      = form.submit
