!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "profile email", :name => "google-signin-scope"}/
    %meta{:content => "784382473737-ff9vrd0ejnns70uapa7vc2g7jfk675k7.apps.googleusercontent.com", :name => "google-signin-client_id"}/
    %script{:async => "", :defer => "defer", :src => "https://apis.google.com/js/platform.js"}
  %body
    %h1 
      = @user.name
    = link_to 'New Group', new_group_path

    %h1 Groups
    %table
      %tr
        %th Name
        %th Description
        %th
      - @user.groups.each do |group|
        %tr
          %td= link_to group.group_name, group_path(group)
          %td= group.group_description

  - if current_user.nil?
    = link_to 'Sign in', new_user_session_path, class: 'login-button'
  
  - if user_signed_in?
    = link_to('Edit profile', edit_user_registration_path)
    = link_to('Logout', destroy_user_session_path, :method => :delete)
  - else
    = link_to('Register', new_user_registration_path)
    = link_to('Login', new_user_session_path)

      


      

