%h1#pageTitle Creating New Group
 
= form_with scope: :group, url: groups_path, local: true do |form|
  - if @groups.errors.any?
    #error_explanation
      %h2
        = pluralize(@groups.errors.count, "error")
        prohibited
        this article from being saved:
      %ul
        - @groups.errors.full_messages.each do |msg|
          %li= msg
  %p#formLabels
    = form.label :group_name
    %br/
    = form.text_field :group_name
  %p#formLabels
    = form.label :group_description
    %br/
    = form.text_area :group_description
  %p
    = form.submit
%br/
%span#linkButtons= link_to 'Back', groups_path
