People who owe money: 
%br
- @owes.each do |user, total|
  = user.name
  owes
  = number_to_currency(total)
  %br

%br

People who are owed money:
%br
- @isowed.each do |user, total|
  = user.name
  is owed
  = number_to_currency(total)
  %br
  
%br

- @settle.each do |owes_user, owed_users|
  - owed_users.each do |user, amount|
    = owes_user.name
    owes
    = user.name
    = number_to_currency(-amount)
    %br



= link_to 'Back', group_path(@group)
= link_to 'Group has settled up'