:javascript
  function myFunction() {
    var x = document.getElementById("hiddenForm");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  

%div#body
  .topnav
    DinDiv
    = link_to 'Settle Up', settle_up_path(@groups)
    = link_to 'Edit', edit_group_path(@groups)
    = link_to 'Home', groups_path

  %div#pageTitle= @groups.group_name
  %div#sectionInfo= @groups.group_description

  %div#membersBox
    %div#membersHeader Members:
    = render @groups.users
    %div#linkButtons= link_to 'Add Members', add_members_path(@groups), method: :patch

  %div
    %br
    %span#sectionTitle Transactions:
    %table#transactionTable 
      %tr
        %th Name
        %th Total
        %th
        %th
      = render @groups.transactions
      

  %div 
    %button#showFormButton{:onclick => "myFunction()"} Add New Transaction
    %div#hiddenForm
      %h4#sectionInfo New Transaction:
      = form_with(model: [ @groups, @groups.transactions.build ], local: true) do |form|
        %p#formLabels
          = form.label :name
          %br/
          = form.text_field :name, required: true
        %p#formLabels
          = form.label :amount
          %br/
          = form.text_field :amount, required: true
        %p#formLabels
          = form.submit 
  
  
