%p
  %strong Group Name:
  = @groups.group_name
%p
  %strong Description:
  = @groups.group_description
  
%h2 Transactions
- @groups.transactions.each do |transaction|
  %p
    %strong P1:
    = transaction.p1_id
  %p
    %strong P2:
    = transaction.p2_id
  %p
    %strong Amount:
    = transaction.amount


%h2 Add a transaction:
= form_with(model: [ @groups, @groups.transactions.build ], local: true) do |form|
  %p
    = form.label :p1_id
    %br/
    = form.text_field :p1_id
  %p
    = form.label :p2_id
    %br/
    = form.text_field :p2_id
  %p
    = form.label :amount
    %br/
    = form.text_field :amount
  %p
    = form.submit                   |



= link_to 'Home', groups_path
= link_to 'Edit', edit_group_path(@groups)