%p
  %strong Group Name:
  = @groups.group_name
%p
  %strong Description:
  = @groups.group_description

%p
  %strong Members:
= render @groups.users

-#%p
  -#%strong Add members:
-#= render 'users/form'
  
%h2 Transactions:
= render @groups.transactions

%h2 Add a transaction:
= render 'transactions/form'

= link_to 'Home', groups_path
= link_to 'Edit', edit_group_path(@groups)