%p
  %strong Group Name:
  = @groups.group_name
%p
  %strong Description:
  = @groups.group_description

%p
  %strong Members:
= render @groups.users

  
%h2 Transactions:
= render @groups.transactions

%h2 Add a transaction:
= form_with(model: [ @groups, @groups.transactions.build ], local: true) do |form|
  %p
    = form.label :name
    = form.text_field :name
  %p
    = form.label :amount
    = form.text_field :amount
  %p
    = form.submit

= link_to 'Home', groups_path
= link_to 'Edit', edit_group_path(@groups)