:javascript
  function myFunction() {
    var x = document.getElementById("hiddenForm");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  
%div#body  
  %strong#pageTitle Group Name:
  %span#pageTitle= @groups.group_name
  %span#navButtons= link_to 'Home', groups_path
  %p#sectionInfo
    %strong Description:
    = @groups.group_description
  
  
    
  %div#membersBox
    %div#membersHeader Members:
    %span= render @groups.users
    %div#linkButtons= link_to 'Add Members', group_add_members_path(@groups)

 

  %div
    %h3#sectionTitle Transactions:
    %table#transactionTable 
      %tr
        %th Name
        %th Total
        %th
        %th
      = render @groups.transactions
      

  %div 
    %button#showFormButton{:onclick => "myFunction()"} Add New Transaction
    
    %div#hiddenForm
      %h3#sectionTitle New Transaction:
      = form_with(model: [ @groups, @groups.transactions.build ], local: true) do |form|
        %p#formLabels
          = form.label :name
          = form.text_field :name, required: true
        %p#formLabels
          = form.label :amount
          = form.text_field :amount, required: true
        %p#formLabels
          = form.submit 
  //= link_to 'Settle Up', settle_up_path(@groups)
  
  