%div#body  
  // %p#pageTitle
  %strong#pageTitle Group Name:
  %span#pageTitle= @groups.group_name
  %p#sectionInfo
    %strong Description:
    = @groups.group_description
    
  = link_to 'Add Members', group_add_members_path(@groups)
  
  %p#sectionInfo
    %strong Members:
  = render @groups.users
  
    
  %h3#sectionTitle Transactions:
  %table#transactionTable 
    %tr
      %th Name
      %th Total
      %th
      %th
      %th
  = render @groups.transactions
  
  %h3#sectionTitle Add a transaction:
  = form_with(model: [ @groups, @groups.transactions.build ], local: true) do |form|
    %p#formLabels
      = form.label :name
      = form.text_field :name, required: true
    %p#formLabels
      = form.label :amount
      = form.text_field :amount, required: true
    %p#formLabels
      = form.submit 
 
  %div#navButtons
    = link_to 'Home', groups_path
    = link_to 'Edit', edit_group_path(@groups)
