%p
  %strong Group Name:
  = @groups.group_name
%p
  %strong Description:
  = @groups.group_description
  
%h2 Members
= render @groups.people

%h2 Add a member:
= render 'people/form'



= link_to 'Home', groups_path
= link_to 'Edit', edit_group_path(@groups)