= form_for @groups, url: {action: "update"} do |form|
  = form_for (:users) do |user_form|
    %p#formLabels= user_form.label :email
      %br/
      = user_form.text_field :email
    %p#formLabels
      = user_form.submit
