%strong#sectionTitle Add people:
%br/

= form_for @transactions, url: {action: "update"} do |form|
  = form_for (:users) do |user_form|
    %p#formLabels
      = user_form.label :name
      = user_form.text_field :name
  
      &nbsp;&nbsp;
    
      Paid &nbsp;&nbsp;
      %input{:type => "text"}/
      &nbsp;&nbsp;
      
      Proportion:
      %input{:type => "text"}/
      %br/

    %p#formLabels
      = form.submit

