%strong#sectionTitle Add people:
%br/

= form_with(model: @transactions, url: transaction_update_users_path(@transactions), local: true) do |form|
  
  //FIX STYLING HERE
  - if @transactions.errors.any?
    - @transactions.errors.full_messages.each do |msg|
      %li= msg
  ////////////////
  
  = form_for (:users) do |user_form|
    %p#formLabels
      = form.label :name
      %br/
      = user_form.text_field :name, required: true, class: "textBox"
    %p#formLabels
      Paid:
      %br/
      = user_form.text_field :paid, required: true, class: "textBox"
    %p#formLabels
      Expected Portion:
      %br/
      = user_form.text_field :proportion, required: true, class: "textBox"
      %br/

    %p#formLabels
      = form.submit

