%strong Add people:
%br/

= form_for @transactions, url: {action: "update"} do |form|
  = form_for (:users) do |user_form|
    %p
      = user_form.label :name
      = user_form.text_field :name
  
      &nbsp;&nbsp;
    
      paid &nbsp;&nbsp;
      %input{:type => "text"}/
      &nbsp;&nbsp;
      
      proportion:
      %input{:type => "text"}/
      %br/

    %p
      = form.submit

