= form_with(model: [ @groups, @groups.transactions.build ], local: true) do |form|
  %p
    = form.label :name
    %br/
    = form.text_field :name
  %p
    = form.label :amount
    %br/
    = form.text_field :amount
  %p
    = form.submit
