%h1 Edit transaction
= form_with(model: [@groups, @transactions], local: true) do |form|
  %p
    = form.label :p1_id
    %br/
    = form.text_field :p1_id
  %p
    = form.label :p2_id
    %br/
    = form.text_field :p2_id
  %p
    = form.label :amount
    %br/
    = form.text_field :amount
  %p
    = form.submit
    
= link_to 'Back', groups_path
