%h1 
  = @transactions.name

= form_with(model: [@groups, @transactions], local: true) do |form|
  %p
    = form.label :name
    = form.text_field :name,  required: true
    &nbsp;&nbsp;
    
    = form.label :amount
    = form.text_field :amount,
    
    &nbsp;&nbsp;
    
    %p
    = form.submit "Save Transaction Details"
      
= link_to 'Back', group_path(@transactions.group)
