.topnav 
  <img src="https://img.icons8.com/cotton/50/000000/money-transfer.png" alt="money logo" class="images"/>
  DinDiv
  = link_to 'Back', group_path(@transactions.group)

%div#body  
  %div#pageTitle Edit Transaction:
  
  = form_with(model: [@groups, @transactions], local: true) do |form|
    %p#formLabels
      = form.label :name
      %br/
      = form.text_field :name, class: "textBox"
      %br/
      %br/
      = form.label :amount
      %br/
      = form.text_field :amount, class: "textBox"
      
      &nbsp;&nbsp;
      
      %p#formLabels
      = form.submit "Save Transaction Details"  
  
  = link_to 'Delete this transaction', [@transactions.group, @transactions], method: :delete, data: { confirm: 'Are you sure?' }
