%span#pageTitle Edit:
%span#pageTitle= @transactions.name

= form_with(model: [@groups, @transactions], local: true) do |form|
  %p#formLabels
    = form.label :name
    = form.text_field :name
    &nbsp;&nbsp;
    
    = form.label :amount
    = form.text_field :amount
    
    &nbsp;&nbsp;
    
    %p#formLabels
    = form.submit "Save Transaction Details"
%span#linkButtons= link_to 'Back', group_path(@transactions.group)
