%div#body   
    %strong#pageTitle Transaction:
    %span#pageTitle= @transactions.name
    // &nbsp;
    %br
    %span#sectionInfo= number_to_currency(@transactions.amount) 
    // &nbsp;&nbsp;
    %br
    %br
    // %span#linkButtons= link_to 'Edit', edit_group_transaction_path(@transactions.group, @transactions)
    %input#scales{:checked => "checked", :name => "split-evenly", :type => "checkbox"}/
    %label#formLabels{:for => "split-evenly"} Split Evenly?
    %br
    %br
    
    = render 'transactions/form'
        
    - @transactions.users.each do |user|
        = user.name
        paid
        = number_to_currency(user.amounts.find_by(user_id: user.id, transaction_id: @transactions.id).paid)
        and 
        - if(user.amounts.find_by(user_id: user.id, transaction_id: @transactions.id).difference < 0)
            owes
            = number_to_currency(0 - user.amounts.find_by(user_id: user.id, transaction_id: @transactions.id).difference)
        - else
            is owed
            = number_to_currency(user.amounts.find_by(user_id: user.id, transaction_id: @transactions.id).difference)
    
        = link_to 'Edit', update_users_path(users: {name: user.name}, transaction_id: @transactions.id, group_id: @transactions.group.id), method: :patch
        = link_to 'Delete', destroy_from_transaction_path(user, id: @transactions.id), method: :delete, data: { confirm: 'Are you sure?' }
        %br
        
    %div#navButtons    
        = link_to 'Save', group_path(@transactions.group)
