!!!
%html
  %head
    %h1.title Expense Splitter
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %nav_bar
      = link_to 'Home', controller: 'groups'
    
    // = link_to 'https://websitelink.com/', class: 'link' do
    //   %span Visit website

    %body
      #main
      

        = yield
